@import './variables';

.s-overlay.s-dialog {
  align-items: center;
  justify-content: center;


  &.fixed-height {
    .s-overlay__content {
      height: 100%;
    }
  }

  &.fullscreen {
    .s-overlay__content {

      position: fixed;
      top: 0;
      left: 0;
    }
  }

  .s-overlay__content {
    pointer-events: auto;
    z-index: inherit;
    width: 100%;
    margin: 0;

    .s-dialog__content {
      background-color: var(--theme-surface);
      border-radius: 0;
      @include elevation($dialog-elevation);
      height: 100%;

      > .s-card {
        > .s-card-title {
          font-size: $dialog-card-title-font-size;
          font-weight: $dialog-card-title-font-weight;
          letter-spacing: $dialog-card-title-letter-spacing;
          padding: $dialog-card-title-padding;
        }

        > .s-card-text {
          padding: $dialog-card-text-padding;
//          overflow: auto;
        }

        > .s-card-subtitle {
          padding: $dialog-card-subtitle-padding;
        }
      }
    }

  }

  &.fullscreen .s-dialog__content {
    > .s-card {
      min-height: 100%;
      min-width: 100%;
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  *::-webkit-scrollbar {
    width: 5px;
    padding: 1px;
  }

  *::-webkit-scrollbar-thumb:hover {
    border: 2px solid transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #aaa;
  }

  .overflow-content {
    scrollbar-color: initial;
//    scrollbar-gutter: stable;
    scrollbar-width: initial;
  }
}

@media (min-width: $dialog-fullscreen-trigger) {
  .s-overlay.s-dialog {

      &:not(.fullscreen) {
        .s-overlay__content {
          width: $dialog-width;
          max-width: var(--s-dialog-width);
          margin: $dialog-margin;
          max-height: $dialog-height;
        }

        .s-dialog__content {
          border-radius: $dialog-border-radius;
          overflow: hidden;
        }

        &.fixed-height {
          .s-overlay__content {
            height: $dialog-height;
            max-height: var(--s-dialog-height);
          }
        }
      }
    }
}
