@import '../../styles/variables';

$editor-line-height: 1.75rem !default;
$editor-min-height: 32px !default;
$editor-padding: 24px 0 0 !default;
$editor-outlined-padding: 12px 0 0 !default;
$editor-icon-margin-top: 2px !default;
$editor-filled-icon-margin-top: 28px !default;
$editor-outlined-icon-margin-top: 18px !default;
$editor-solo-icon-margin-top: 8px !default;
