@import '../../styles/variables';

$table-background: var(--theme-surface) !default;
$table-color: var(--theme-text-primary) !default;
$table-header-height: 56px !default;
$table-header-font-weight: 500 !default;
$table-header-font-size: 14px !default;
$table-font-size: 14px !default;
$table-row-height: 52px !default;
$table-row-font-size: 14px !default;
$table-border-color: var(--theme-tables-border) !default;
$table-border: thin solid $table-border-color !default;
$table-hover-color: var(--theme-datatables-row-hover) !default;
$table-line-height: 1.5 !default;
$table-column-padding: 0 16px !default;
$table-transition-duration: 0.28s !default;
$table-transition-property: box-shadow, opacity, background, height !default;
$table-transition-timing-function: ease !default;
$table-dense-multiplier: 4 !default;
$table-dense-spacer: 4px !default;
$table-denser-multiplier: 2 !default;
